.menuContainer {
  width: 100%;
}

.menuLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5% 0;
  gap: 10px;
}

.menuLinks li {
  padding: 5px 10px;
  list-style: none;
  background-color: white;
  width: 70%;
  text-align: center;
  font-weight: 500;
  color: red;
  cursor: pointer;
}

.logout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout > button {
  border: none;
  outline: none;
  background-color: red;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.logout > button:active {
  scale: 0.95;
}
