.loginFormContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}

.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background-color: #ffffff4f;
  gap: 15px;
  padding: 30px 20px;
  border-radius: 5px;
}

.loginPass,
.loginEmail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.loginEmail > label,
.loginPass > label {
  font-size: 20px;
  font-weight: 700;
}

.loginEmail input,
.loginPass input {
  padding: 5px;
  border: none;
  background-color: white;
}

.loginEmail:focus,
.loginPass:focus {
  outline: none;
}

.loginFornBtn {
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  background-color: #ff4646;
  color: white;
  margin-top: 5%;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 700;
}

.loginFornBtn:active {
  scale: 0.95;
}
.loginFornBtn:hover {
  background-color: red;
}
